@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --green: green;
  --white: white;
  --gold: gold;
  --grey: grey;
  --orangered: orangered;
  --black: black;
  --darkGreen: darkgreen;

  --fontFamily: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--fontFamily);
  max-width: 1200px;
  margin: auto;
}

/* top-navigation */

.top-navigation {
  height: 40px;
  color: var(--white);
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.top-navigation .update {
  display: flex;
  align-items: center;
}

.top-navigation .date-socials {
  display: flex;
  align-items: center;
}

.date-socials .date {
  display: flex;
}

.date-socials .line {
  height: 25px;
  border-left: solid 1px var(--white);
  margin: 0 1em;
}

.date-socials .socials {
  display: flex;
}

.socials a {
  color: var(--white);
}

.socials a:hover {
  color: var(--green);
  transition: 0.5s;
}
.top-navigation p {
  font-size: 13px;
}
.top-navigation i {
  margin-right: 10px;
}

.top-navigation .fa-solid {
  color: var(--green);
}

/* navigation */

.navigation {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 2em;
}

.navigation .line {
  height: 30px;
  border-left: solid 1px var(--black);
  margin: 0 1em;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav h2 a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.left-nav .support {
  display: flex;
  align-items: center;
}

.left-nav .support i {
  font-size: 20px;
  color: var(--green);
  padding-right: 0.5em;
}

.left-nav .support h4 {
  padding: 0.2em 0;
  text-align: center;
}

.left-nav .support span {
  display: block;
}

nav .fa {
    display: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 1em;
}

nav li a {
  color: var(--black);
  text-decoration: none;
  font-size: 13px;
}

nav li a:hover {
  color: var(--green);
  transition: 0.5s;
  font-weight: bold;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: var(--green);
  transition: 0.5s;
  margin: auto;
}

nav li a:hover::after {
  width: 100%;
}


/* hero  */
.hero {
  width: 100%;
  height: 300px;
  background-image: url("../images/contact-images-images/contactus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 1em;
}

.hero ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.hero li a {
  background-color: green;
  text-decoration: none;
  padding: 0.4em 1em;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: var(--white);
}

.hero li a:hover {
  background-color: var(--white);
  color: var(--darkGreen);
  font-weight: bold;
  padding: 0.7em 1.5em;
}



/* section article */
section:nth-of-type(2) {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.article {
flex-basis: 300px;
height: 480px;
background-color: var(--green);
color: var(--white);
text-align: center;
padding:  2em 0;
}


.article .images {
width: 40px;
height: 40px;
}

.article .images img {
width: 100%;
height: 100%;
}

.article .text {
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
gap: 1em;
}


.article p span {
display: block;

}
.article hr:first-of-type {
width: 50%;
}

.article hr {
width:  70%;
margin: 2em auto 1em;
}


/* contact us info */

.contact-info {
font-size: 22px;
margin: 1em 0 0;
}

.contact-info hr {
  margin: 0.5em 0;
}

.contact-info > p:nth-of-type(2) {
font-size: 14px;
}

/* .contact-info p {
  margin: 1em 0;
} */

.contact-info form {
display: flex;
flex-direction: column;
gap: 0.5em;
margin-top: 0.5em;
}


.contact-info form .info input {
  width: 350px;
padding: 1em;
outline: none;
}

.contact-info form .block {
display: block;
width: 705px;
padding: 1em; 
outline: none;
}

.contact-info button {
width: 150px;
padding: 1em;
font-weight: bold;
font-size: 16px;
background-color: var(--darkGreen);
color: var(--white);
}

.contact-info button:hover  {
  background-color: var(--orangered);
  color: var(--white);
}

iframe {
  width: 100%;
}


button, input { cursor: pointer;}































/* contact us */

.contact-us {
    width: 100%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
    margin: 1em 0 2em;
    overflow: hidden;
  }
  
  .contact-us h3 {
    text-align: center;
  }
  
  .contact-us span {
    display: block;
  }
  
  .contact-us .line {
    width: 2px;
    height: 50px;
    background-color: var(--white);
  }
  
  .contact-us .support {
    display: flex;
    align-items: center;
  }
  
  .contact-us i {
    font-size: 25px;
    color: var(--white);
    margin-right: 10px;
  }
  
  .contact-us button {
    padding: 1em 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--whiteText);
    background-color: var(--orangered);
    border: none;
    border-radius: 2px;
  }

  .contact-us button:hover {
    background-color: var(--white);
    color: var(--darkGreen);

  }


  /* footer */

footer {
    background-color: rgb(63, 57, 57);
    color: var(--white);
    padding: 1px 1em;
    text-align: center;
    overflow: hidden;
  }
  
  footer .subcription {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
  }
  
  .subcription .line {
    width: 2px;
    height: 40px;
    background-color: rgba(236, 223, 223, 0.5);
  }
  
  .subcription input {
    width: 210px;
    padding: 1em;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 12px;
    text-align: center;
    outline: none;
  }

  form {
    margin: 2em 0;
}

  form button {
    padding: 0.8em 1.2em;
    color: var(--white);
    background: var(--green);
    border: none;
    margin-left: 0.5em;
    font-weight: bold;
  }
  
  form button:hover {
    background-color: var(--white);
    color: var(--darkGreen);
  }

  footer span {
    display: block;
  }
  
  footer > hr {
    width: 80%;
    border-color: var(--white);
    margin: 1em auto;
  }

  .horizontal-line hr {
    width: 55%;
    margin: 0.3em auto;
    border-color: var(--gold);
  }
  
  .horizontal-line .hr1 {
    width: 45%;
  }
  
  .horizontal-line .hr2 {
    width: 20%;
  }
  
  footer > .information {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  footer p,
  footer a {
    font-size: 13px;
  }
  
  .information ul {
    list-style: none;
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .information ul li::marker {
    content: ". ";
    color: var(--white);
    font-size: 1em;
  }
  
  .information a {
    text-decoration: none;
    color: var(--white);
  }
  
  .information ul li a:hover {
    font-weight: bold;
  }
  
  .information ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--gold);
    display: block;
    transition: 0.5s;
    margin: auto;
  }
  
  .information li a:hover::after {
    width: 100%;
  }
  
  footer > p:last-of-type {
    margin: 2em 1em;
  }
  
  footer > p:last-of-type span {
    display: inline;
  }
  
  footer .year {
    color: var(--gold);
  }
  
  footer .etinga {
    color: var(--green);
  }
  


 